<div class="tab-pane fade show active" id="pills-available" role="tabpanel" aria-labelledby="pills-available-tab">
	{% if first %}
	<div class="mb-2">
		<form class="form-group">
			<input id="user-input" class="form-control form-control" type="text" placeholder="&#xF002; Search"
				style="font-family:DINFont, FontAwesome; font-size: 16px;" aria-label="Search">
		</form>
	</div>
	{% endif %}
	<div id="replaceable-content">
		{% for post in posts %}
		{% if post.status == "Available" or post.status == "AVAILABLE"%}
		<article class="card donation-card mb-2">
			<!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
			<div class="card-header">
				<div class='container'>
					<div class="row text-center">
						<div class="col">
							<p>Title</p>
							<p><a href="{% url 'donation:donation-detail' post.id %}">{{ post.title }}</a></p>
						</div>
						<div class="col">
							<p>Quantity</p>
							<p>{{ post.quantity }}</p>
						</div>
						<div class="col">
							<p>Category</p>
							<p>{{ post.resource_category }}</p>
						</div>
						<div class="col">
							<p>Status</p>
							<p>{{ post.status }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body ">
				<div class='container'>
					<div class="row">
						<div class="col-2">
							<p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
							</p>
						</div>
						<div class="col-5">
							<p>Available Dropoff Time: </p>
							<ul class="pl-3">
								<li>{{ post.dropoff_time_1 | date:'F d, Y H:m'}}</li>
								<li>{{ post.dropoff_time_2 | date:'F d, Y H:m'}}</li>
								<li>{{ post.dropoff_time_3 | date:'F d, Y H:m'}}</li>
							</ul>
							<p>{{ post.dropoff_location.place}}</p>
						</div>
						<div class="col-5">
							<button class='btn btn-outline-dark btn-wide mb-1 float-right'><a
									href="{% url 'reservation:reservation-request' post.id %}">Reserve</a></button>
						</div>
					</div>
				</div>
			</div>
		</article>
		{% endif %}
		{% endfor %}
	</div>
</div>