{% extends 'donation/base.html' %}
{% block content %}
{% include "reservation/reservation_status_nav.html" %}
{% if user.is_authenticated and user.helpseekerprofile %}
{% if messages %}
    {% for message in messages %}
    <div class="container alert alert-info alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="tab-content pt-2 pl-1" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-available" role="tabpanel" aria-labelledby="pills-available-tab">
        {% include "reservation/donation_list.html" %}
    </div>
    {% include "reservation/reservation_list.html" %}
</div>

{% endif %}
{% endblock content %}