@font-face {
  font-family: DINFont;
  src: url(d-din/D-DIN.otf) format("opentype");
}

/*
@font-face {
    font-family: DINFont;
    font-weight: bold;
    src: url(d-din/D-DIN-Bold.otf) format("opentype");
}

@font-face {
    font-family: DINFont;
    font-weight: italic;
    src: url(d-din/D-DIN-Italic.otf) format("opentype");
}*/
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  /*font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; */
  /*font-family: 'EB Garamond', serif;*/
  font-family: DINFont, serif;
}

.clearfix {
  overflow: auto;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

#map {
  position: absolute;
  width: 100%;
  height: 750px;
  left: 0;
  right: 0;
}

#map:focus {
  outline: 0;
}

.mapboxgl-popup {
  min-width: 500px;
}

.mapboxgl-popup-close-button {
  font-size: 24px;
  padding: 4px;
}


h1, h2, h3, h4, h5, h6, .article-title {
  color: #333;
}

p, a, li, input, label, textarea {
  font-size: 16px;
}

/********** Common Element *************/

.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none;
}

.btn-wide {
  width: 200px;
}

.graybox {
  background: #e6e6e6;
  border-radius: 5px;
  padding: .375rem .75rem;
}

.gray-bg {
    background: #f9f9f9;
}

.btn-dark:hover {
  background-color: #fff !important;
  color: #333 !important;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.bg-white {
  background-color: #fff;
}

select option {
  background: #e6e6e6
}

select option:hover, select option:focus, select option:active {
  background: #b3b3b3
}

.site-header {
  height: 86px;
}

.site-header .navbar-brand, .site-header .navbar-nav .nav-link {
  color: #333;
}

.site-header .navbar-brand {
  font-size: 40px;
}

.site-header .navbar-nav {
  font-size: 20px;
}

.site-header .navbar-nav i {
  font-size: 23px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #b3b3b3;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.side-bar .list-group {
  border-radius: 0;
}

.side-bar .list-group-item {
  border: none;
  padding: 5px 0;
  margin-top: 100px;
  color: #333;
  border-bottom: 1px solid #333;
  font-weight: 900;
}

.side-bar a, .side-bar a:hover {
  color: #333;
  text-decoration: none;
}

.side-bar a:after {
  content: '▶';
  opacity: 0;
  top: 14px;
  transition: 0.5s;
  padding-left: 16px;
}

.side-bar a:hover:after, .side-bar a:active:after {
  opacity: 1;
  right: 10px;
}

.button-nav {
  padding-bottom: 10px;
  display: flex;
}

.button-nav .btn {
  flex-grow: 1;
  margin-right: 3px;
}

.button-nav .btn:last-child {
  margin-right: 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-group input, .form-group textarea, .form-group select, .form-group select:focus {
  background: #e6e6e6;
  border: none;
  border-radius: 5px;
  padding: .375rem .75rem;
}

.form-group input:focus {
  outline: none;
}

.form-group input[name='image'] {
  background: #fff;
}

.anchor-title h3 {
  font-weight: 900;
  font-size: 45px;
  padding: 25px 0;
}

.donation-card .card-body img {
  max-height: 100px;
  max-width: 100px;
}

.donation-card .card-header {
  padding: 3px 0;
}

.donation-card .card-header p {
  margin: 0;
  padding: 0;
}

/* filtering for main map */
.filter-group {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  color: #fff;
  padding: 50px;
}

.filter-group input[type='checkbox']:first-child+label {
  border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.filter-group input[type='checkbox'] {
  display: none;
}

.filter-group input[type='checkbox']+label {
  background-color: #3386c0;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox']+label {
  background-color: #3386c0;
  text-transform: capitalize;
}

.filter-group input[type='checkbox']+label:hover,
.filter-group input[type='checkbox']:checked+label {
  background-color: #4ea0da;
}

.filter-group input[type='checkbox']:checked+label:before {
  content: '✔';
  margin-right: 5px;
}

/* filtering for main map end */
