<!-- Template Inheritance -->
{% load static %}
<!DOCTYPE html>
<html lang="en" , dir="ltr">
{% include "donation/head.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<body>
    {% include "donation/header.html" %}
    {% if user.is_authenticated %}

    <div class="container anchor-title">
        <h3>{{user.username}}</h3>
    </div>

    {% endif %}
    <div role="main" class="container">
        <div class="row">
            {% include "donation/sidebar.html" %}
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>

    <script type="text/javascript">
        var ajaxLink = "{% url 'reservation:ajax-notification' %}";
        setInterval(function () {
            $.get(ajaxLink, function (data) {
                if (data == 0) {
                    $("#donor-notification").html("<i class='fas fa-envelope'></i>");

                } else {
                    $("#donor-notification").html("<i class='fas fa-envelope-open-text'></i><span class='message-number'>" + data +
                        "</span>");
                }
            });
        }, 1000 * 1); // check notification every 10 seconds 
    </script>
</body>

</html>