{% extends 'donation/base.html' %}
{% block content %}
{% if user.is_authenticated and user.donorprofile %}
{% for post in expired_donation_posts %}
        <article class="card donation-card mb-2">
            <div class="card-header">
                <div class='container'>
                    <div class="row text-center">
                        <div class="col">
                            <p>Title</p>
                            <p>{{ post.title }}</p>
                        </div>
                        <div class="col">
                            <p>Quantity</p>
                            <p>{{ post.quantity }}</p>
                        </div>
                        <div class="col">
                            <p>Category</p>
                            <p>{{ post.resource_category }}</p>
                        </div>
                        <div class="col">
                            <p>Status</p>
                            <p>EXPIRED</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class='container'>
                    <div class="row">
                        <div class="col-2">
                            <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
                            </p>
                        </div>
                        <div class="col-5">
                            <p>Available Dropoff Time: </p>
                            <ul>
								{% if post.dropoff_time_1 != None %}
                                <li>{{ post.dropoff_time_1 }}</li>
								{% endif %}
                                {% if post.dropoff_time_2 != None %}
                                <li>{{ post.dropoff_time_2 }}</li>
                                {% endif %}
                                {% if post.dropoff_time_3 != None %}
                                <li>{{ post.dropoff_time_3 }}</li>
                                {% endif %}
                            </ul>
                            <p>{{ post.dropoff_location.place}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
	{% if expired_donation_posts.has_other_pages %}
  <ul class="pagination">
    {% if expired_donation_posts.has_previous %}
      <li><a href="?page={{ expired_donation_posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in expired_donation_posts.paginator.page_range %}
      {% if expired_donation_posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if expired_donation_posts.has_next %}
      <li><a href="?page={{ expired_donation_posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}	
	{% endif %}
{% endblock %}