{% extends 'donation/base.html' %}
{% block content %}
{% if user.is_authenticated and user.donorprofile %}
<div class="container">
    <legend class='mb-4 font-weight-bold'>Expired Donations</legend>
    {% for post in expired_donation_posts %}
    <article class="card donation-card mb-2">
        <div class="card-header">
            <div class='container'>
                <div class="row text-center">
                    <div class="col">
                        <p>Title</p>
                        <p>{{ post.title }}</p>
                    </div>
                    <div class="col">
                        <p>Quantity</p>
                        <p>{{ post.quantity }}</p>
                    </div>
                    <div class="col">
                        <p>Category</p>
                        <p>{{ post.resource_category }}</p>
                    </div>
                    <div class="col">
                        <p>Status</p>
                        <p>{{ post.status }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class='container'>
                <div class="row">
                    <div class="col-2">
                        <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
                        </p>
                    </div>
                    <div class="col-5">
                        <p>Available Dropoff Time: </p>
                        <ul>
                            {% if post.dropoff_time_1 != None %}
                            <li>{{ post.dropoff_time_1 }}</li>
                            {% endif %}
                            {% if post.dropoff_time_2 != None %}
                            <li>{{ post.dropoff_time_2 }}</li>
                            {% endif %}
                            {% if post.dropoff_time_3 != None %}
                            <li>{{ post.dropoff_time_3 }}</li>
                            {% endif %}
                        </ul>
                        <p>{{ post.dropoff_location.place}}</p>
                    </div>
                    <div class="col-5">
                        <a class='btn btn-outline-dark btn-wide mb-1 float-right'
                            href="{% url 'donation:donation-update' post.id %}">Update</a>
                        <a class='btn btn-danger btn-wide float-right'
                            href='{% url "donation:donation-delete" post.id %}'>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% empty %}
    <div class="alert alert-info text-center">Currently you do not have any expired donation posts.</div>
    {% endfor %}
</div>
{% if expired_donation_posts.paginator.num_pages > 1 %}
{% include 'donation/_pagination.html' with posts=expired_donation_posts %}
{% endif %}
{% endif %}
{% endblock %}
