<header class="site-header clearfix">
  <nav class="navbar fixed-top bg-white navbar-expand-md">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'home' %}"><i class="fab fa-hubspot"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="">About</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          <!-- Add conditional statement to present different tab dependiing on the login status -->
          {% if user.is_authenticated %}
          <script>
            alert("{{user}}")
          </script>

          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          <a class="nav-item nav-link" href="{% url 'register:donor-profile' %}"><i class="fas fa-user-circle"></i></a>
          <a class="nav-item nav-link" href="{% url 'register:helpseeker-profile' %}"><i class="fas fa-user-circle"></i></a>
          <a class="nav-item nav-link" href="{% url 'main-map' %}"><i class="fas fa-map-marker-alt"></i></a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'register:register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
