{% extends 'donation/base.html' %}
{% block content %}
{% include "donation/messages_status_nav.html" %}
{% if user.is_authenticated and user.helpseekerprofile %}

<!-- for resource posts which are in the watchlist, show them here -->
{% for post in posts %}
{% if post.resource_category == user.helpseekerprofile.rc_1 or post.resource_category == user.helpseekerprofile.rc_2 or post.resource_category == user.helpseekerprofile.rc_3 %}
<article class="card donation-card mb-2 animated fadeIn">
    <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
    <div class="card-header">
        <div class='container'>
            <div class="row pt-2 pb-2 pl-4">
                <p><i class="far fa-star"></i> New watchlist item in {{ post.resource_category }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class='container'>
            <div class="row">
                <div class="col">
                    <b>Item</b>
                    <p><a href="{% url 'donation:donation-detail' post.id %}">{{ post.title }}</a></p>
                </div>
                <div class="col">
                    <b>Status</b>
                    <p>{{ post.status }}</p>
                </div>
                <div class="col">
                    <b>Location</b>
                    <p>{{ post.dropoff_location.place }}</p>
                </div>
                <div class="col">
                    <b>Location</b>
                    <p class="message-map-{{post.id}}" style="cursor:pointer;color:#007bff;"
                        onclick="toggleMap('{{post.dropoff_location.latitude}}','{{post.dropoff_location.longitude}}', '{{post.id}}', '{{mapbox_access_token}}')">
                        <i class="fas fa-map-marked-alt"></i></p>
                </div>
            </div>
            <div class="message-map" id="message-location-{{post.id}}" style="display: none;"></div>
        </div>
    </div>

</article>

<script>
    function toggleMap(lat, long, postId, mapbox_key) {
        $("#message-location-" + postId).toggle();
        mapboxgl.accessToken = mapbox_key
        var map = new mapboxgl.Map({
            container: 'message-location-' + postId,
            style: 'mapbox://styles/jginmb7/ckgg1lsi02e2m1ao7bk8ov89z',
            center: [long, lat],
            // center: [-73.8648, 40.8448],
            zoom: 12.5
        });
        new mapboxgl.Marker()
            .setLngLat([long, lat])
            .addTo(map)
    }

</script>
{% endif %}
{% endfor %}

<!-- pagination -->
{% if posts.paginator.num_pages > 1 %}
{% if posts.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
{% endif %}

{% for num in posts.paginator.page_range %}
{% if posts.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num < posts.number|add:'3' and num > posts.number|add:'-3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if posts.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}
<!-- pagination -->


{% endif %}
{% endblock content %}