{% extends 'donation/base.html' %}
{% block content %}
{% if user.is_authenticated and user.donorprofile %}
{% for message in messages %}
<article class="card donation-card mb-2 animated fadeIn">
    <div class="card-header">
            <div class='container'>
                <div class="row pt-2 pb-2">
                    <div class="col">
                        <p><i class="fas fa-clock"></i>
                            REMINDER: {{ message.resource }} dropoff time is within 10 minutes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class='container'>
                <div class="row">
                    <div class="col">
                        <b>Item</b>
                        <p>{{ message.resource }}</p>
                    </div>
                    <div class="col">
                        <b>Receiver</b>
                        <p>{{ message.receiver }}</p>
                    </div>
                    <div class="col">
                        <b>Drop off time</b>
                        <p>{{ message.dropofftime }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% empty %}
<div class="alert alert-info text-center">There are no active reminders</div>
{% endfor %}

<!-- pagination -->
{% if posts.paginator.num_pages > 1 %}
{% include 'donation/_pagination.html' with posts=messages %}
{% endif %}
<!-- pagination -->


{% endif %}
{% endblock content %}