{% extends 'donation/base.html' %}
{% block content %}
{% include "donation/messages_status_nav.html" %}
{% if user.is_authenticated and user.helpseekerprofile %}

<!-- for resource posts which are in the watchlist, show them here -->
<!-- <div class="tab-content pt-2 pl-1" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-available" role="tabpanel" aria-labelledby="pills-available-tab"> -->
        {% for post in resource_posts %}
        <article class="card donation-card mb-2">
            <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
            <div class="card-header">
                <div class='container'>
                    <div class="row text-center">
                        <div class="col">
                            <p>From</p>
                            <p>{{ post.donor.username }}</p>
                        </div>
                        <div class="col">
                            <p>Title</p>
                            <p>{{ post.title }}</p>
                        </div>
                        <div class="col">
                            <p>Subject</p>
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="col">
                            <p>Time</p>
                            <p>{{ post.date_created }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class='container'>
                    <div class="row">
                        <div class="col-2">
                            <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
                            </p>
                        </div>
                        <div class="col-5">
                            <p>Available Dropoff Time: </p>
                            <ul class="pl-3">
                                <li>{{ post.dropoff_time_1 | date:'F d, Y H:m'}}</li>
                                <li>{{ post.dropoff_time_2 | date:'F d, Y H:m'}}</li>
                                <li>{{ post.dropoff_time_3 | date:'F d, Y H:m'}}</li>
                            </ul>
                            <p>{{ post.dropoff_location.place}}</p>
                        </div>
                        <div class="col-5">
                            <button class='btn btn-outline-dark btn-wide mb-1 float-right'><a
                                    href="{% url 'reservation:reservation-request' post.id %}">Reserve</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    <!-- </div>
</div> -->

{% endif %}
{% endblock content %}