{% extends 'donation/base.html' %}
{% block content %}
{% include "donation/messages_status_nav.html" %}
{% if user.is_authenticated and user.helpseekerprofile %}

<!-- for resource posts which are in the watchlist, show them here -->
{% for post in resource_posts %}
{% if post.resource_category == user.helpseekerprofile.rc_1 or post.resource_category == user.helpseekerprofile.rc_2 or post.resource_category == user.helpseekerprofile.rc_3 %}
<article class="card donation-card mb-2 animated fadeIn">
    <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
    <div class="card-header">
        <div class='container'>
            <div class="row pt-2 pb-2 pl-4">
                <p><i class="far fa-star"></i> New watchlist item in {{ post.resource_category }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class='container'>
            <div class="row">
                <div class="col">
                    <b>Item</b>
                    <p><a href="{% url 'donation:donation-detail' post.id %}">{{ post.title }}</a></p>
                </div>
                <div class="col">
                    <b>Status</b>
                    <p>{{ post.status }}</p>
                </div>
                <div class="col">
                    <b>Location</b>
                    <p>{{ post.dropoff_location.place }}</p>
                </div>
                <div class="col">
                    <b>Map</b>
                    <p><a href="{% url 'main-map' %}"><i class="fas fa-map-marked-alt"></i></a></p>
                </div>
            </div>
        </div>
    </div>

</article>
{% endif %}
{% endfor %}


{% endif %}
{% endblock content %}