{% extends 'donation/base.html' %}
{% block content %}
{% for message in messages %}
<article class="card donation-card mb-2 animated fadeIn">
    <div class="card-header">
        <div class='container'>
            <div class="row">
                <div class="col pl-4 pb-2 pt-2">   
                <b>REMINDER</b>             
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class='container'>
            <div class="row">
                <div class="col-5">
                    <b>Message: </b>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}