{% extends 'donation/base.html' %}
{% block content %}
{% if user.is_authenticated and user.donorprofile %}
{% for notification in donor_notifications %}
<article class="card donation-card mb-2 animated fadeIn">
    <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
    <div class="card-header">
        <div class='container'>
            <div class="row">
                <div class="col pl-4 pb-2 pt-2">
                    {% if notification.notificationstatus == 1 %}
                    <p><i class="fas fa-box-open"></i> You <b><span style="color:green;">confirmed</span></b> the
                        request from
                        <b>{{ notification.sender }}</b> for
                        <a href="{% url 'donation:donation-detail' notification.post.post.id %}">
                            <b>{{ notification.post.post.title}}</b>
                        </a>
                        * {{ notification.post.post.quantity}}</p>
                    {% elif notification.notificationstatus == 2 %}
                    <p><i class="fas fa-box-open"></i> You <b><span style="color:red;">declined</span></b> the request
                        from <b>{{ notification.sender }}</b>
                        for
                        <a href="{% url 'donation:donation-detail' notification.post.post.id %}">
                            <b>{{ notification.post.post.title}}</b>
                        </a>
                        * {{ notification.post.post.quantity}}</p>
                    {% elif notification.notificationstatus == 3 %}
                    <p><i class="fas fa-box-open"></i> <b>{{ notification.sender }}</b> just requested your
                        <a href="{% url 'donation:donation-detail' notification.post.post.id %}">
                            <b>{{ notification.post.post.title}}</b>
                        </a>
                        * {{ notification.post.post.quantity}}</p>
					{% elif notification.notificationstatus == 4 %}
                    <p><i class="fas fa-box-open"></i>
                        <a href="{% url 'donation:donation-detail' notification.post.post.id %}">
                            <b>{{ notification.post.post.title}}</b>
                        </a>
                        * {{ notification.post.post.quantity}} request has <span style="color:red;">expired</span></p>
                    {% endif %}
                    <!-- <span class="float-right"><i class="fas fa-check-circle" style="color:green"></i></span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class='container'>
            <div class="row">
                <div class="col-2">
                    <p class="article-img img-circle"><img class="img-thumbnail"
                            src='{{notification.post.post.image.url}}'></i></p>
                </div>
                <div class="col-5">
                    <b>Dropoff Request Time: </b>
                    <p>{{ notification.post.dropoff_time_request}}</p>
                    <b>Dropoff Location:</b>
                    <p>{{ notification.post.post.dropoff_location.place}}</p>
                </div>
                <div class="col-5">
                    <form method="POST" action="{% url 'reservation:confirm-notification' notification.id %}">
                        {% csrf_token %}
                        {% if notification.notificationstatus == 3 %}
                        <button name="accept" class="btn btn-outline-success btn-wide mb-1 float-right"
                            type="submit">Accept</button>
                        <button name="deny" class="btn btn-outline-danger btn-wide float-right"
                            type="submit">Decline</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>
{% empty %}
<div class="alert alert-info text-center">You haven't received any messages yet.</div>
{% endfor %}
{% endif %}
{% endblock %}