{% if user.is_authenticated %}
<div class="form-inline button-nav">
	{% if user.donorprofile %}
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "donation-home" %}'>Reserved</a>
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "donation-new" %}'>New</a>
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "donation-home" %}'>Available</a>
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "donation-home" %}'>Closed</a>
    {% elif user.helpseekerprofile %}
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "reservation:reservation-home" %}'>All Available</a>
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "reservation:reservation-home" %}'>Pending</a>
    <a class="btn align-middle btn-outline-dark" type="button" href='{% url "reservation:reservation-home" %}'>Closed</a>
    {% endif %}
</div>
{% endif %}