{% extends 'donation/base.html' %}
{% block content %}
{% if user.is_authenticated and user.donorprofile %}
<div>
    <ul class="nav nav-pills button-nav animated fadeInDown" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="btn align-middle btn-outline-dark active" id="pills-reserved-tab" data-toggle="pill"
                href="#pills-reserve" role="tab" aria-controls="pills-reserve" aria-selected="true">Reserved</a>
        </li>
        <li class="nav-item">
            <a class="btn align-middle btn-outline-dark" href='{% url "donation:donation-new" %}'>New</a>
        </li>
        <li class="nav-item">
            <a class="btn align-middle btn-outline-dark" id="pills-available-tab" data-toggle="pill"
                href="#pills-available" role="tab" aria-controls="pills-available" aria-selected="false">Available</a>
        </li>
        <li class="nav-item">
            <a class="btn align-middle btn-outline-dark" id="pills-closed-tab" data-toggle="pill" href="#pills-closed"
                role="tab" aria-controls="pills-closed" aria-selected="false">Completed</a>
        </li>
    </ul>
</div>
<div class="tab-content animated fadeIn" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-reserve" role="tabpanel" aria-labelledby="pills-reserved-tab">
        {% if user.is_authenticated and user.donorprofile %}
        {% for post in reserved_donation_posts %}
        <article class="card donation-card mb-2">
            <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
            <div class="card-header">
                <div class='container'>
                    <div class="row text-center">
                        <div class="col">
                            <p>Title</p>
                            <p><a href="{% url 'reservation:reservation-detail' post.id %}">{{ post.post.title }}</a></p>
                        </div>
                        <div class="col">
                            <p>Quantity</p>
                            <p>{{ post.post.quantity }}</p>
                        </div>
                        <div class="col">
                            <p>Category</p>
                            <p>{{ post.post.resource_category }}</p>
                        </div>
                        <div class="col">
                            <p>Status</p>
                            <p>{{ post.post.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class='container'>
                    <div class="row">
                        <div class="col-2">
                            <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.post.image.url}}'></i>
                            </p>
                        </div>
                        <div class="col-5">
                            <p>Request Dropoff Time: </p>
                            <ul>
                                <li>{{ post.dropoff_time_request | date:'F d, Y H:m'}}</li>                                
                            </ul>
                            <p>{{ post.post.dropoff_location.place}}</p>
                        </div>
                        <div class="col-5">
                            <button class='btn btn-outline-dark btn-wide mb-1 float-right'>Edit</button>
                            <button class='btn btn-danger btn-wide float-right'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% empty %}
        <div class="alert alert-info text-center">You don't have any confirmed donation currently.</div>
        {% endfor %}
        <!-- pagination -->
        <!-- {% if posts.paginator.num_pages > 1 %}
        {% include 'donation/_pagination.html' with posts=posts %}
        {% endif %} -->
        <!-- pagination -->


        {% endif %}
    </div>
    <div class="tab-pane fade" id="pills-available" role="tabpanel" aria-labelledby="pills-available-tab">
        {% for post in available_donation_posts %}
        <article class="card donation-card mb-2">
            <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
            <div class="card-header">
                <div class='container'>
                    <div class="row text-center">
                        <div class="col">
                            <p>Title</p>
                            <p><a href="{% url 'donation:donation-detail' post.id %}">{{ post.title }}</a></p>
                        </div>
                        <div class="col">
                            <p>Quantity</p>
                            <p>{{ post.quantity }}</p>
                        </div>
                        <div class="col">
                            <p>Category</p>
                            <p>{{ post.resource_category }}</p>
                        </div>
                        <div class="col">
                            <p>Status</p>
                            <p>{{ post.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class='container'>
                    <div class="row">
                        <div class="col-2">
                            <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
                            </p>
                        </div>
                        <div class="col-5">
                            <p>Available Dropoff Time: </p>
                            <ul>
                                <li>{{ post.dropoff_time_1 | date:'F d, Y H:m'}}</li>
                                {% if post.dropoff_time_2 != None %}
                                <li>{{ post.dropoff_time_2 | date:'F d, Y H:m'}}</li>
                                {% endif %}
                                {% if post.dropoff_time_3 != None %}
                                <li>{{ post.dropoff_time_3 | date:'F d, Y H:m'}}</li>
                                {% endif %}
                            </ul>
                            <p>{{ post.dropoff_location.place}}</p>
                        </div>
                        <div class="col-5">
                            <button class='btn btn-outline-dark btn-wide mb-1 float-right'>Edit</button>
                            <button class='btn btn-danger btn-wide float-right'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% empty %}
        <div class="alert alert-info text-center">You don't have any donation listed currently. If you would like to list your donation, please go to <a
                    href="{%  url 'donation:donation-new' %}">here</a></div>
        {% endfor %}
        <!-- pagination -->
        <!-- {% if posts.paginator.num_pages > 1 %}
        {% include 'donation/_pagination.html' with posts=posts %}
        {% endif %} -->
        <!-- pagination -->
    </div>
    <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
        {% load crispy_forms_tags %}
        <div class='content-section'>
            <!-- Need to add CSRF token, a hidden tag for security required by django -->
            {{ form.media }}
            <form method='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='mb-4 font-weight-bold'>Donation Details</legend>
                    <!-- Crispy filter to style the form -->
                    {{ form|crispy }}
                </fieldset>
                <div class='form-group'>
                    <button class='btn btn-dark btn-wide' type='submit'>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-closed" role="tabpanel" aria-labelledby="pills-closed-tab">
        {% for post in closed_donation_posts %}
        <article class="card donation-card mb-2">
            <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
            <div class="card-header">
                <div class='container'>
                    <div class="row text-center">
                        <div class="col">
                            <p>Title</p>
                            <p><a href="{% url 'donation:donation-detail' post.id %}">{{ post.title }}</a></p>
                        </div>
                        <div class="col">
                            <p>Quantity</p>
                            <p>{{ post.quantity }}</p>
                        </div>
                        <div class="col">
                            <p>Category</p>
                            <p>{{ post.resource_category }}</p>
                        </div>
                        <div class="col">
                            <p>Status</p>
                            <p>{{ post.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class='container'>
                    <div class="row">
                        <div class="col-2">
                            <p class="article-img img-circle"><img class="img-thumbnail" src='{{post.image.url}}'></i>
                            </p>
                        </div>
                        <div class="col-5">
                            <p>Available Dropoff Time: </p>
                            <ul>
                                <li>{{ post.dropoff_time_1 | date:'F d, Y H:m'}}</li>
                                {% if post.dropoff_time_2 != None %}
                                <li>{{ post.dropoff_time_2 | date:'F d, Y H:m'}}</li>
                                {% endif %}
                                {% if post.dropoff_time_3 != None %}
                                <li>{{ post.dropoff_time_3 | date:'F d, Y H:m'}}</li>
                                {% endif %}
                            </ul>
                            <p>{{ post.dropoff_location.place}}</p>
                        </div>
                        <div class="col-5">
                            <button class='btn btn-outline-warning mb-1 btn-wide float-right'><a
                                    href="{% url 'issue-complaint' post.id %}">Complaint</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% empty %}
        <div class="alert alert-info text-center">You don't have any completed donation currently. </div>
        {% endfor %}
    </div>
</div>
{% elif user.is_authenticated and user.helpseekerprofile %}
<a class="btn align-middle btn-outline-dark" type="button" href='{% url "reservation" %}'>Pending</a>
<a class="btn align-middle btn-outline-dark" type="button" href='{% url "reservation" %}'>Closed</a>
{% endif %}
{% endblock content %}