{% extends 'donation/base.html' %}
{% load static %}
{% block content %}

<article class="media content-section container animated fadeInUp">
    <img class='rounded-circle article-img' src='{% static "donation/asset/user.svg" %}'>
    <!--  p>{{ object.image.url }}</p-->
    <div class="media-body">
        <div class="article-metadata">
            <!--a class="mr-2" href="">Username</a-->
            <h2 class="article-title">{{ object.title }} * {{ object.quantity }}</h2>
            <p class="text-muted"><i class="far fa-clock pr-2"></i>{{ object.date_created | date:'F d, Y'}}</p>
            {% if object.author == user %}
            <div>
                <a class='btn btn-secondary btn-sm mt-1 mb-1' href=''>Update</a>
                <a class='btn btn-danger btn-sm mt-1 mb-1' href=''>Delete</a>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col col-lg-2">
            <img class='rounded-circle article-img' src="{{ object.image.url }}" max-width="30%"></div>
            <div class="col">
                <p>Status:</p>
                <p class="graybox">{{ object.status }}</p>
                <p>Category:</p>
                <p class="graybox">{{ object.resource_category }}</p>
                <p>Location:</p>
                <p class="graybox">{{ object.dropoff_location.place }}</p>
                <p>Drop-off Time: </p>
                <p class="graybox">{{ object.dropoff_time_1 }}</p>
                {% if object.dropoff_time_2 %}
                <p class="graybox">{{ object.dropoff_time_2 }}</p>
                {% endif %}
                {% if object.dropoff_time_3 %}
                <p class="graybox">{{ object.dropoff_time_3 }}</p>
                {% endif %}
                <p>Description: </p>
                <div class="graybox">{{ object.description }}</div>
            </div>
        </div>
    </div>
</article>
{% endblock content %}