<div class="col col-lg-2">
    <div class='side-bar'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'donation-home' %}">Donations</a></li>
            {% if user.is_authenticated %}
            <li class="list-group-item list-group-item-light"><a href="{% url 'register:donor_profile' user.id %}">Profile</a></li>
            {% endif %}
            <li class="list-group-item list-group-item-light"><a href="">Messages</a></li>
        </ul>
    </div>
</div>