{% if user.is_authenticated %}
<div class="col col-lg-2">
    <div class='side-bar'>
        <ul class="list-group">
        	{% if user.donorprofile %}
            <li class="list-group-item list-group-item-light"><a href="{% url 'donation:donation-home' %}">Donations</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'register:donor-profile' user.username  %}">Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'donation:donation-messages' %}">Messages</a></li>
            {% elif user.helpseekerprofile %}
            <li class="list-group-item list-group-item-light"><a href="{% url 'reservation:reservation-home' %}">Reservations</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'register:helpseeker-profile' %}">Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'reservation:reservation-messages' %}">Messages</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}