{% extends 'donation/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include "register/profile_nav.html" %}
<div class="content-section">
  <legend class="mb-3 font-weight-bold">Account Details</legend>
  <div class="media-body">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <label>Username:</label>
    <p class="graybox">{{ user.username }}</p>
    <label>Email:</label>
    <p class="graybox">{{ user.email }}</p>
  </div>
  {{ form.media }}
  <form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <fieldset class='form-group'>
      <!-- Crispy filter to style the form -->
      {{ form |crispy }}
    </fieldset>
    <div class='form-group'>
      <!-- https://stackoverflow.com/questions/5629805/disabling-enter-key-for-form -->
      <script type="text/javascript">
        window.addEventListener('keydown', function(e) {
          if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
            if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
              e.preventDefault();
              return false;
            }
          }
        }, true);
      </script>
      <button class='btn btn-dark btn-wide' type='submit'>
        Save
      </button>
    </div>
  </form>
</div>

{% endblock content %}
