{% extends 'donation/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container animated fadeIn">
	<div class="text-center">
		<p><i class="far fa-user-circle fa-5x mb-3 mt-5"></i></p>
		<legend class="mb-3">Join Today as a Help Seeker</legend>
	</div>
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<div class="row justify-content-around">
				<div class="col">
					{{ form.username|as_crispy_field }}
					<br />
					{{ form.email|as_crispy_field }}
					<br />
					{{ form.password1|as_crispy_field }}
					<br />
					{{ form.password2|as_crispy_field }}
				</div>
				<div class="col">
					<span class="graybox mb-2">Borough*</span>
					{{ form.borough }}
					<span class="graybox mb-2">Resources (Optional, select up to 3)</span>
					{{ form.resource|as_crispy_field }}
				</div>
			</div>
		</fieldset>
		<div class="form-group text-center">
			<button class="btn btn-dark btn-wide" type="submit">Sign Up</button>
		</div>
	</form>
	<div class="text-center">
		<p class="text-muted">
			Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
		</p>
	</div>
	{% endblock content %}