{% extends 'donation/nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-center">
  <p><i class="far fa-user-circle fa-5x mb-5 mt-5"></i></p>
  <h2>{{ note }}</h2>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{form.as_p}}
        <small class="text-muted">
          Forget Password?<a class="ml-2" href="{% url 'password_reset' %}">Reset Password</a>
        </small>
      </fieldset>
      
      <button class="btn btn-dark btn-wide mb-3" type="submit">Login</button>
      <p><a class="btn btn-outline-dark btn-wide" href="/register" target="blank">Register</a></p>
    </form>
  </div>
</div>
{% endblock %}