<div class="form-inline button-nav animated fadeInDown">
    {% if user.donorprofile %}
    <a class="btn align-middle btn-outline-dark nav-item active" type="button"
        href="{% url 'register:donor-profile' user.username %}">Info</a>
    {% elif user.helpseekerprofile %}
    <a class="btn align-middle btn-outline-dark nav-item active" type="button"
        href='{% url "register:helpseeker-profile" %}'>Info</a>
    {% endif %}
    <!-- <a class="btn align-middle btn-outline-dark nav-item" type="button"
            href='{% url "register:user-delete" %}'>Delete</a> -->
    <button type="button" class="btn align-middle btn-outline-dark nav-item btn-delete" data-toggle="modal"
        data-target="#deleteConfirmation">
        Delete
    </button>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div> -->
            <div class="modal-body">
                <h5>
                    <p>All of your account data including user profile, donation posts, reservations, notifications will be deleted.
                    </p>
                    <b>Are you sure?</b>
                </h5>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-success btn-wide" id="deleteNo"
                            data-dismiss="modal">Cencel</button></div>
                    <div class="col">
                        <a class="btn btn-outline-danger btn-wide" type="button"
                            href='{% url "register:user-delete" %}'>Confirm</a></div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>