{% extends 'donation/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
{% include "complaint/complaint_nav.html" %}
{% if messages %}
{% for message in messages %}
<div class="container alert alert-info">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="tab-content animated fadeIn" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-complaints" role="tabpanel" aria-labelledby="pills-complaints-tab">
    <div class="container">
      <legend class='mt-4 font-weight-bold'>Pending</legend>
      {% for post in complaint_posts_pending %}
      <article class="card donation-card mb-2">
        <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
        <div class="card-header">
          <p class="pl-4 pb-2 pt-2">{{ post.issuer }} filed a complaint to {{ post.receiver }}</p>
        </div>
        <div class="card-body ">
          <div class='container'>
            <div class="row">
              <div class="col-2">
                {% if post.image  %}
                <p class="article-img img-circle"><img class="img-thumbnail" src='{{ post.image.url }}'></p>
                {% else %}
                <p class="article-img img-circle"><img class="img-thumbnail"
                    src='{{ post.reservation_post.post.image.url }}'>
                </p>
                {% endif %}
              </div>
              <div class="col-5">
                Subject:
                <p>{{ post.subject }}</p>
                Description:
                <p class="text-box">{{ post.message }}</p>
              </div>
              <div class="col-5">
                <form method="POST" action="{% url 'complaint-decision' post.id %}">
                  {% csrf_token %}
                  <button name="invalid" class="btn btn-success btn-wide mb-1 float-right"
                    type="submit">Invalid</button>
                  <button name="valid" class="btn btn-outline-danger btn-wide float-right" type="submit">Valid</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
      {% empty %}
      <div class="alert alert-info text-center">There aren't have any complaints to resolve.</div>
      {% endfor %}
      <legend class='mt-4 font-weight-bold'>Resolved</legend>
      {% for post in complaint_posts_resolved %}
      <article class="card donation-card mb-2">
        <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
        <div class="card-header">
          <p class="pl-4 pb-2 pt-2">{{ post.issuer }} filed a complaint to {{ post.receiver }}</p>
        </div>
        <div class="card-body ">
          <div class='container'>
            <div class="row">
              <div class="col-2">
                {% if post.image  %}
                <p class="article-img img-circle"><img class="img-thumbnail" src='{{ post.image.url }}'></p>
                {% else %}
                <p class="article-img img-circle"><img class="img-thumbnail"
                    src='{{ post.reservation_post.post.image.url }}'>
                </p>
                {% endif %}
              </div>
              <div class="col-5">
                Subject:
                <p>{{ post.subject }}</p>
                Description:
                <p class="text-box">{{ post.message }}</p>
              </div>
              <div class="col-5">
                {% if post.status == "INVALID" %}
                <p class="float-right" style="color:green" href="mailto:{{ post.user.email }}">{{ post.status }}</p>
                {% elif post.status == "VALID" %}
                <p class="float-right" style="color:red" href="mailto:{{ post.user.email }}">{{ post.status }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </article>
      {% empty %}
      <div class="alert alert-info text-center">There aren't any resolved complaints.</div>
      {% endfor %}
    </div>
  </div>

  <div class="tab-pane fade" id="pills-warning" role="tabpanel" aria-labelledby="pills-warning-tab">
    <legend class='mt-4 font-weight-bold'>Helpseeker</legend>
    {% for post in hs_warning %}
    <article class="card donation-card mb-2">
      <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
      <div class="card-header">
        <p class="pl-4 pb-2 pt-2">{{ post.user.username }} has reached 2 complaints</p>
      </div>
      <div class="card-body ">
        <div class='container'>
          <div class="row">
            <div class="col-10">
              <p>Username: {{ post.user.username }}</p>
              <p>Email: {{ post.user.email }}</p>
              <p>ID: {{ post.user.id }}</p>
            </div>
            <div class="col-2">
              <a class="btn btn-wide btn-warning float-right"
                href="mailto:{{ post.user.email }}?subject=[Urban Thrifter] Please comply with our community guideline&body=Dear {{ post.user.username }},%0d%0a%0d%0aOur record suggests that you currently stands two violations. Please be aware of our community guideline. We appreciate your understanding and support!%0d%0a%0d%0aBest Regards,%0d%0aUrban Thrifter">Warning</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% empty %}
    <div class="alert alert-info text-center">You don't users to send warnings.</div>
    {% endfor %}
    <legend class='mt-4 font-weight-bold'>Donor</legend>
    {% for post in donor_warning %}
    <article class="card donation-card mb-2">
      <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
      <div class="card-header">
        <p class="pl-4 pb-2 pt-2">{{ post.user.username }} has reached 2 complaints</p>
      </div>
      <div class="card-body ">
        <div class='container'>
          <div class="row">
            <div class="col-10">
              <p>Username: {{ post.user.username }}</p>
              <p>Email: {{ post.user.email }}</p>
              <p>ID: {{ post.user.id }}</p>
            </div>
            <div class="col-2">
              <a class="btn btn-wide btn-warning float-right"
                href="mailto:{{ post.user.email }}?subject=[Urban Thrifter] Please comply with our community guideline&body=Dear {{ post.user.username }},%0d%0a%0d%0aOur record suggests that you currently stands two violations. Please be aware of our community guideline. We appreciate your understanding and support!%0d%0a%0d%0aBest Regards,%0d%0aUrban Thrifter">Warning</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% empty %}
    <div class="alert alert-info text-center">You don't users to send warnings.</div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="pills-deactivate" role="tabpanel" aria-labelledby="pills-deactivate-tab">
    <legend class='mt-4 font-weight-bold'>Helpseeker</legend>
    {% for post in hs_deactivate %}
    <article class="card donation-card mb-2">
      <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
      <div class="card-header">
        <p class="pl-4 pb-2 pt-2">{{ post.user.username }} has reached 3 or more complaints</p>
      </div>
      <div class="card-body ">
        <div class='container'>
          <div class="row">
            <div class="col-10">
              <p>Username: {{ post.user.username }}</p>
              <p>Email: {{ post.user.email }}</p>
              <p>ID: {{ post.user.id }}</p>
            </div>
            <div class="col-2">
              {% if post.user.is_active %}
              <form method="POST" action="{% url 'deactivate-hs' post.user.id %}">
                {% csrf_token %}
                <button class="btn btn-wide btn-danger float-right" type="submit">Deactivate
                  Account</button>
              </form>
              {% else %}
              <p>Deactivated</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </article>
    {% empty %}
    <div class="alert alert-info text-center">Currently no helpseeker user account ready for deactivation.</div>
    {% endfor %}
    <legend class='mt-4 font-weight-bold'>Donor</legend>
    {% for post in donor_deactivate %}
    <article class="card donation-card mb-2">
      <!-- <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}' > -->
      <div class="card-header">
        <p class="pl-4 pb-2 pt-2">{{ post.user.username }} has reached 3 or more complaints</p>
      </div>
      <div class="card-body ">
        <div class='container'>
          <div class="row">
            <div class="col-10">
              <p>Username: {{ post.user.username }}</p>
              <p>Email: {{ post.user.email }}</p>
              <p>ID: {{ post.user.id }}</p>
            </div>
            <div class="col-2">
              <a class="btn btn-wide btn-danger float-right"
                href="{% url 'register:donor-profile' post.user.username %}">Deactivate Account</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% empty %}
    <div class="alert alert-info text-center">You don't have users for deactivation.</div>
    {% endfor %}
  </div>
</div>
{% else %}
<meta http-equiv="Refresh" content="0; url='/login'" />
{% endif %}
<script type="text/javascript" src="{% static 'javascript/search.js' %}"></script>
{% endblock content %}