<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

  <title>Interactive Map for Urban Thrifter</title>
</head>

<body>
  <h1>mappymappy</h1>
  <div id='map' style='width: 800px; height: 600px;'></div>
  <script>
    mapboxgl.accessToken = '{{mapbox_access_token}}'
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-73.9911, 40.7051],
      zoom: 9.5
    })
    var marker = new mapboxgl.Marker().setLngLat([-73.9911, 40.7051]).addTo(map)
  </script>
</body>

</html>
