{% extends 'donation/navfull.html' %}
{% block content %}
{% if user.is_authenticated and user.helpseekerprofile %}
<!-- shelter data-->
<div id='map'></div>
<nav id="filter-group" class="filter-group"></nav>
<script>
  mapboxgl.accessToken = '{{ mapbox_access_token }}'
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/jginmb7/ckgg1lsi02e2m1ao7bk8ov89z',
    center: [-73.935242, 40.730610],
    zoom: 9.5
  })
</script>

{% for post in post_context %}
<script>
  personal_donation_html = "<div class='container donation-popup'>"+
        "<h5 class='mb-3'><b>{{ post.title }}</b> * {{ post.quantity }}</h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>{{ post.description }}</p>" +
        "<p><img src='{{ post.image.url }}' /></p>" +
        "</div><div class='col'>" +
        "<p>{{ post.dropoff_time_1 }}</p>" +
        "<p>{{ post.dropoff_time_2 }}</p>" +
        "<p>{{ post.dropoff_time_3 }}</p>" +
        "</div></div>"+
        "<a href='/' class='btn btn-dark btn-wide' type='submit'>" +
        "Detail</button></a>"
  new mapboxgl.Marker({ "color": 'blue' })
    .setLngLat([{{ post.dropoff_location.longitude }},
    {{ post.dropoff_location.latitude }}])
    .setPopup(new mapboxgl.Popup({ offset: 25 })
      .setHTML(personal_donation_html))
    .addTo(map)
</script>
{% endfor %}


{% for center in drop_in_centers %}
<script>
  new mapboxgl.Marker({ "color": "#EB984E" })
    .setLngLat([{{ center.longitude }}, {{ center.latitude }}])
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>"+
        "<h5 class='mb-3'><b>{{center.center_name}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Address: <b>{{center.address}}</b></p>" +
        "<p>Borough: <b>{{center.borough}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Zip: <b>{{center.postcode}}</b></p>" +
        "<p>Hours: <b>{{center.comments}}</b></p>" +
        "</div></div></div>"
      ))
    .addTo(map)
</script>
{% endfor %}

{% for center in internet_centers %}
<script>
  new mapboxgl.Marker({ "color": "#7DCEA0" })
    .setLngLat([{{ center.longitude }}, {{ center.latitude }}])
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>"+
        "<h5 class='mb-3'><b>{{center.name}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Provider: <b>{{center.provider}}</b></p>" +
        "<p>Location: <b>{{center.location}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Borough: <b>{{center.boroname}}</b></p>" +
        "<p>Type: <b>{{center.type}}</b></p>" +
        "<p>Remarks: <b>{{center.remarks}}</b></p>"+
        "</div></div></div>"
      ))
    .addTo(map)
</script>
{% endfor %}
{% elif user.donorprofile %}
<html>

<head>
  <script type="text/javascript">
    function Redirect() {
      window.location = "{{DOMAIN_NAME}}" + "/donation/";
    }
    setTimeout('Redirect()', 0);
  </script>
</head>

<body>
</body>

</html>
{% endif %}
{% endblock content %}