{% extends 'donation/navfull.html' %}
{% block content %}

{% if user.is_authenticated and user.helpseekerprofile %}

<!-- Load Map -->
<section role="main animated fadeIn">
  <div class="row">
    <ul class='map-filter'>
      <li><button class="feature-icon food-icon" onclick="resourceFilter('food', this)">Food</br><i
            class="fas fa-apple-alt"></i></button></li>
      <li><button class="feature-icon shelter-icon" onclick="resourceFilter('shelter', this)">Shelter</br><i
            class="fas fa-house-user"></i></button></li>
      <li><button class="feature-icon ppe-icon" onclick="resourceFilter('ppe', this)">PPE</br><i
            class="fas fa-head-side-mask"></i></button></li>
      <li><a href="http://m3.mappler.net/nyrestroom/" target="_blank"><button class="feature-icon restroom-icon">Restroom</br><i
            class="fas fa-restroom"></i></button></a></li>
      <li><button class="feature-icon electronics-icon" onclick="resourceFilter('electronics', this)">Electronics</br><i
            class="fas fa-mobile-alt"></i></button></li>
      <li><button class="feature-icon wifi-icon" onclick="resourceFilter('wifi', this)">Internet</br><i
            class="fas fa-wifi"></i></button></li>
      <li><button class="feature-icon cloth-icon" onclick="resourceFilter('clothes', this)">Clothes</br><i
            class="fas fa-tshirt"></i></button></li>
      <li><button class="feature-icon reeducation-icon" onclick="resourceFilter('reeducation', this)">Programs</br><i
            class="fas fa-book-open"></i></button></li>
      <li><button class="feature-icon others-icon" onclick="resourceFilter('others', this)">Others</br><i
            class="fas fa-question"></i></button></li>
    </ul>
    <div id='map'></div>
  </div>
</section>
<div class="clearfix"></div>

<script>
  //var user_loc = [-73.935242, 40.730610];
  var user_loc = {
    "MAN": [-73.9973, 40.7309],
    "BRK": [-73.935242, 40.730610],
    "QUN": [-73.7949, 40.7282],
    "BRX": [-73.8648, 40.8448],
    "STN": [-74.1502, 40.5795]
  }
  mapboxgl.accessToken = '{{ mapbox_access_token }}'
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/jginmb7/ckgg1lsi02e2m1ao7bk8ov89z',
    center: user_loc["{{user.helpseekerprofile.borough}}"],
    zoom: 12.5
  });
</script>

<!-- computer center / electronics data-->
{% for center in computer_centers %}
<script>
  var electronicEl = document.createElement('div');
  electronicEl.className = 'electronics-marker';
  new mapboxgl.Marker(electronicEl)
    .setLngLat([{{ center.lon }}, {{ center.lat }}])
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>" +
        "<h5 class='mb-3'><b>{{center.oversight_agency}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Operator: <b>{{center.operator_name}}</b></p>" +
        "<p>Location: <b>{{center.location_name}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Wifi availability: <b>{{center.wi_fi_available}}</b></p>" +
        "<p>Wheel chair access: <b>{{center.wheelchair_accessible}}</b></p>" +
        "<p>Access requirements: <b>{{center.access_requirements}}</b></p>" +
        "</div></div></div>"
      ))
    .addTo(map)
</script>
{% endfor %}

<!-- wifi data-->
{% for center in internet_centers %}
<script>
  var wifiEl = document.createElement('div');
  wifiEl.className = 'wifi-marker';
  new mapboxgl.Marker(wifiEl)
    .setLngLat([{{ center.longitude }}, {{ center.latitude }}])
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>" +
        "<h5 class='mb-3'><b>{{center.name}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Provider: <b>{{center.provider}}</b></p>" +
        "<p>Location: <b>{{center.location}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Borough: <b>{{center.boroname}}</b></p>" +
        "<p>Type: <b>{{center.type}}</b></p>" +
        "<p>Remarks: <b>{{center.remarks}}</b></p>" +
        "</div></div></div>"
      ))
    .addTo(map)
</script>
{% endfor %}

<!-- reeducation data-->
{% for center in after_school_prgms %}
<script>
  var reeducationEl = document.createElement('div');
  reeducationEl.className = 'reeducation-marker';
  new mapboxgl.Marker(reeducationEl)
    .setLngLat([String({{ center.location_1.longitude }}), String({{ center.location_1.latitude }})])
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>" +
        "<h5 class='mb-3'><b>{{center.program}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Agency: <b>{{center.agency}}</b></p>" +
        "<p>Borough: <b>{{center.borough_community}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Program type: <b>{{center.program_type}}</b></p>" +
        "<p>Contact: <b>{{center.contact_number}}</b></p>" +
        "<p>Site name: <b>{{center.site_name}}</b></p>" +
        "</div></div></div>"
      ))
    .addTo(map)
</script>
{% endfor %}

<!-- shelter data-->
{% for center in shelter_geojson %}
<script>
  var el = document.createElement('div');
  el.className = 'shelter-marker';
  //make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat({{ center.geometry.coordinates.0 }})
    .setPopup(new mapboxgl.Popup({ offset: 50 })
      .setHTML(
        "<div class='container'>" +
        "<h5 class='mb-3'><b>{{center.properties.center_name}}</b></h5>" +
        "<div class='row'>" +
        "<div class='col'>" +
        "<p>Address: <b>{{center.properties.address}}</b></p>" +
        "<p>Borough: <b>{{center.properties.borough}}</b></p>" +
        "</div><div class='col'>" +
        "<p>Zip: <b>{{center.properties.postcode}}</b></p>" +
        "<p>Hours: <b>{{center.properties.comments}}</b></p>" +
        "</div></div></div>"
      ))
    .addTo(map);
</script>
{% endfor %}

<!-- personal donation data-->
{% for post in post_context %}
{% if post.status == "AVAILABLE" or post.status == "Available" %}
<script>
  // console.log({{post.resource_category}})
  var dropoff_time_2 = "";
  var dropoff_time_3 = "";

  if ("{{ post.dropoff_time_2 }}" != "None") {
    dropoff_time_2 = "<p>{{ post.dropoff_time_2 }}</p>";
  }
  if ("{{ post.dropoff_time_3 }}" != "None") {
    dropoff_time_3 = "<p>{{ post.dropoff_time_3 }}</p>";
  }
  var personalEl = document.createElement('div');
  personal_donation_html = "<div class='container donation-popup'>" +
    "<h5 class='mb-3'><b>{{ post.title }}</b> * {{ post.quantity }}</h5>" +
    "<div class='row'>" +
    "<div class='col'>" +
    "<p>{{ post.description }}</p>" +
    "<p><img src='{{ post.image.url }}' /></p>" +
    "</div><div class='col'>" +
    "<p>{{ post.dropoff_time_1 }}</p>" +
    dropoff_time_2 +
    dropoff_time_3 +
    "</div></div>" +
    "<a href='{% url 'reservation:reservation-request' post.id %}' class='btn btn-dark btn-wide' type='submit'>" +
    "Detail</button></a>"
</script>

{% if post.resource_category == "FOOD" %}
<script>
  personalEl.className = 'food-marker';
</script>
{% elif post.resource_category == "MEDICAL/ PPE" %}
<script>
  personalEl.className = 'ppe-marker';
</script>
{% elif post.resource_category == "CLOTHING/ COVERS" %}
<script>
  personalEl.className = 'clothes-marker';
</script>
{% elif post.resource_category == "ELECTRONICS" %}
<script>
  personalEl.className = 'electronics-marker';
</script>
{% elif post.resource_category == "OTHERS" %}
<script>
  personalEl.className = 'others-marker';
</script>
{% endif %}
<script>
  new mapboxgl.Marker(personalEl)
    .setLngLat([{{ post.dropoff_location.longitude }},
    {{ post.dropoff_location.latitude }}])
    .setPopup(new mapboxgl.Popup({ offset: 25 })
      .setHTML(personal_donation_html))
    .addTo(map)
</script>
{% endif %}
{% endfor %}

<script>
  function resourceFilter(recourceCategory, elem) {
    if (elem.classList.contains('inactive')) {
      elem.classList.remove('inactive');
    } else {
      elem.classList.add('inactive');
    }

    var filterClass = recourceCategory + "-marker"
    var shelters = document.getElementsByClassName(filterClass);
    // console.log(x);
    for (i = 0; i < shelters.length; i++) {
      if (shelters[i].classList.contains("hide")) {
        shelters[i].classList.remove("hide");
      } else {
        shelters[i].classList.add("hide");
      }
    }
  }
</script>
{% elif user.donorprofile %}

<!-- <html>
<head>
  <script type="text/javascript">
    function Redirect() {
      window.location = "{{DOMAIN_NAME}}" + "/donation/";
    }
    setTimeout('Redirect()', 0);
  </script>
</head>

<body>
</body>

</html> -->
{% endif %}
{% endblock content %}